body {
  font-family: "Helvetica", sans-serif;
  font: 100% Verdana, Geneva, sans-serif;
  width: 80%;
	margin-right: auto;
	margin-left: auto;
}

h2 {
  color: #7A0019;
  margin-bottom: .2em;
}

p {
	margin-bottom: 1em;
}

#contact {
  background-color: #FFDE7A;
  padding: 2%;
}
